{
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint",
    "import-helpers",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "eslint-config-prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "react/display-name": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": "off",
    "import/named": "off",
    "import-helpers/order-imports": [
      "error",
      {
        "newlinesBetween": "ignore",
        "groups": [
          "/^react$/",
          "/^react-dom/",
          "/^react-router-dom/",
          "/^react-i18next/",
          "/\\bformik\\b/",
          "/yup/",
          "module",
          "/^modules/",
          "/^contexts/",
          "/^helpers/",
          "/^hooks/",
          "/^services/",
          "/^containers/",
          "/^layouts/",
          "/^generic/",
          "/^icons/",
          "/^assets/",
          "/^types/",
          ["parent", "sibling", "index"],
          "/^./styles/"
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  },
  "settings": {
    "import/named": "off",
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "./src"]
      },
      "webpack": {
        "config": "webpack.common.js"
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
